<!-- public/views/utilities.html -->
<div class="utilities-container" id="utilities-container">
    <h1>Utilities</h1>
    
    <div class="utilities-tabs">
      <a href="#" class="tab-link active" data-tab="qr-scanner">QR Scanner</a>
      <a href="#" class="tab-link" data-tab="currency-converter">Currency Converter</a>
      <a href="#" class="tab-link" data-tab="password-generator">Password Generator</a>
    </div>
    
    <div id="qr-scanner" class="utility-tab active">
      <!-- QR Scanner content will be loaded dynamically -->
      <div class="loader"></div>
    </div>
    
    <div id="currency-converter" class="utility-tab">
      <!-- Currency Converter content will be loaded dynamically -->
      <div class="loader"></div>
    </div>
    
    <div id="password-generator" class="utility-tab">
      <!-- Password Generator content will be loaded dynamically -->
      <div class="loader"></div>
    </div>
  </div>